<nav class="menu">
  {{log this.router.currentRouteName}}
  <div class="pageName">
    <h1>Flex</h1>
  </div>
  {{#if (not-eq this.shouldHideDiv true)}}
  <div class="search">
    <input type="text" name="searchquery" placeholder="Search for categories and more...">
  </div>
  <div class="links">
    <div>
      <LinkTo @route="index" class="menu-index">
        Home
      </LinkTo>
    </div>
    <div>
      <LinkTo @route="cart" class="menu-about">
        Cart
      </LinkTo>
    </div>
    <div class="navProfileContainer">
      <LinkTo @route="profile" class="menu-profile">
        <img src="data:image/png;base64,{{this.userData.user.dp}}">
      </LinkTo>
    </div>
  </div>
  {{/if}}
</nav>