<nav class="menu">
  {{log this.router.currentRouteName}}
  <div class="pageName">
  <LinkTo @route="index" class="menu-index">
    <h1>Flex</h1>
  </LinkTo>
  </div>
  {{#if (not-eq this.router.currentRouteName 'login')}}
  <div class="search">
    <input type="text" name="searchquery" placeholder="Search for categories and more...">
  </div>
  <div class="links">
    <div>
    <LinkTo @route="index" class="menu-index">
      Home
    </LinkTo>
    </div>
    <div>
    <LinkTo @route="cart" class="menu-about">
      Cart
    </LinkTo>
    </div>
    <div class="navProfileContainer">
    <LinkTo @route="profile" class="menu-profile">
      <img src="../assets/defaultDP.png">
    </LinkTo>
    </div>
  </div>
  {{/if}}
</nav>