{{page-title "Adduser"}}

<form action="http://localhost:8080/FlexAPI/addUser" method="post" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="role" placeholder="role">
    <input type="file" name="dp" placeholder="Display Picture">
    <input type="submit">
</form>

<img src="data:image/png;base64, {{@model.dp}}" alt="Red dot" />