{{page-title "Cart"}}

<div class="cartContainer">
    <div class="cartSummaryContainer">
        <p id="productName">Cart Summary</p>
        <p> Number of Items : {{this.model.length}}</p>
    </div>
    {{#each this.model as |orderDetails|}}
    <CartCard @orderDetails={{orderDetails}} />
    {{/each}}
</div>