{{page-title "Forgotpassword"}}

<div class="forgotPasswordContainer">
    <h1>Frogot Password</h1>
    <p>Get password sent to your email!</p>
    <form class="forgotPasswordForm">
        <input id="frogotEmail" type="email" placeholder="Email" {{on "input" this.updateEmail}}>
        <input type="button" value="Sumbit" class="button" {{on "click" this.handleForgotPassword}}>
    </form>
    {{#if this.isLoading}}
        <div class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>
    {{/if}}
</div>