{{page-title "Home"}}

<div class="greetContainer">
    <div class="greetCartoon">
        <img src="../assets/greetCartoon.png" class="greetCartoonImage">
    </div>
    <div class="greetMessage">
        <p id="welcome">Hello 👋,</p>
        <p id="name">{{@model.name}}</p>
    </div>
    <img src="../assets/welcomebox.png" class="welcomeBoxImage">
</div>

<p id="categoryText">Explore Category</p>

<div class="categoryContainer">
    <LinkTo @route="explore" @model="T-Shirt">
        <Card @category="T-Shirt" />
    </LinkTo>
    <LinkTo @route="explore" @model="Short">
        <Card @category="Short" />
    </LinkTo>
    <LinkTo @route="explore" @model="Hat">
        <Card @category="Hat" />
    </LinkTo>
    <LinkTo @route="explore" @model="Pant">
        <Card @category="Pant" />
    </LinkTo>
    <LinkTo @route="explore" @model="Hoodie" data-aos="fade-up">
        <Card @category="Hoodie" />
    </LinkTo>
    <LinkTo @route="explore" @model="Track Pant" data-aos="fade-up">
        <Card @category="Track Pant" />
    </LinkTo>
    <LinkTo @route="explore" @model="Shirt" data-aos="fade-up">
        <Card @category="Shirt" />
    </LinkTo>
    <LinkTo @route="explore" @model="Watch" data-aos="fade-up">
        <Card @category="Watch" />
    </LinkTo>
    <LinkTo @route="explore" @model="Jean" data-aos="fade-up">
        <Card @category="Jean" />
    </LinkTo>
    <LinkTo @route="explore" @model="Shoe" data-aos="fade-up">
        <Card @category="Shoe" />
    </LinkTo>
    <LinkTo @route="explore" @model="Slipper" data-aos="fade-up">
        <Card @category="Slipper" />
    </LinkTo>
    <LinkTo @route="explore" @model="Others" data-aos="fade-up">
        <Card @category="Others" />
    </LinkTo>
</div>