{{page-title "Login"}}

<div class="loginPageContainer">
    <div class="loginPageGreetText">
        <span id="welcomeback">Welcome Back!</span><br>
        <span id="logintoyouraccount">Login to your account.</span>
    </div>
    <img id="loginBG" src="../assets/loginbg.webp">
    <LoginForm />
</div>