{{page-title "Preview"}}

<div class="previewContainer">
    <img src="data:image/png;base64,{{this.model.dp}}">
    <div class="previewProductRightSection">
        <p id="productName">{{this.model.name}}</p>
        <form>
            <label for="product-size">
                Size
            </label>
        </form>
    </div>
</div>