{{page-title "Signup"}}

<div class="loginPageContainer">
    <div class="loginPageGreetText">
        <span id="welcomeback">New to Our Store?</span><br>
        <span id="logintoyouraccount">Create an account to enjoy personalized shopping,<br>track orders, and
            more.</span>
    </div>
    <img id="signupBG" src="../assets/signupbg.webp">
    <SignupForm />
</div>